#Taller Pandas: Operaciones con Pandas

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" width="50%" style="text-align:center">

---

In [4]:
# Vamos a crear el DataFrame a partir de los datos de los municipios de Colombia
import pandas as pd
import math

muns = pd.read_csv("https://raw.githubusercontent.com/BrayanTorres2/Algoritmos-y-programacion/refs/heads/main/Data/municipios.csv", index_col=0)
muns.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1122 entries, 404 to 103
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nombre           1122 non-null   object
 1   poblaci贸nUrbana  1122 non-null   int64
 2   poblaci贸nRural   1122 non-null   int64
 3   departamento     1122 non-null   object
 4   esCapital        1122 non-null   int64
dtypes: int64(3), object(2)
memory usage: 52.6+ KB

In [5]:
# Presentar la informaci贸n de los primeros 5 municipios del dataframe
muns.head(5)

,nombre,poblaci贸nUrbana,poblaci贸nRural,departamento,esCapital
c贸digo,,,,,
404,Abejorral,6724,12471,Antioquia,0
178,brego,17287,21076,Norte de Santander,0
1090,Abriaqu铆,738,1337,Antioquia,0
89,Acac铆as,60918,11130,Meta,0
705,Acand铆,5259,4246,Choc贸,0

In [6]:
# Presente la estad铆stica descriptiva de la informaci贸n del dataframe
muns.describe()

       poblaci贸nUrbana  poblaci贸nRural    esCapital
count     1.122000e+03     1122.000000  1122.000000
mean      3.363703e+04    10198.901961     0.028520
std       2.715733e+05    11719.567160     0.166529
min       0.000000e+00      182.000000     0.000000
25%       1.895500e+03     3697.250000     0.000000
50%       4.995000e+03     6738.000000     0.000000
75%       1.306500e+04    12722.000000     0.000000
max       8.063991e+06   173143.000000     1.000000

In [7]:
# Hallar la cantidad de municipios en el DataFrame
num_municipios = len(muns)

assert num_municipios == 1122

print("Cantidad de municipios =", num_municipios)

Cantidad de municipios = 1122

In [8]:
# Determinar el promedio de la poblaci贸n rural de todos los municipios del pa铆s
prom = muns.poblaci贸nRural.mean()

assert math.isclose(10198.901961, prom, rel_tol=1e-6)
print("Prueba superada ")

Prueba superada

In [9]:
# Halle la cantidad total de municipio del departamento de Amazonas
n = len(muns[(muns.departamento == "Amazonas")])

print(f"Hay {n} municipios en Amazonas")
assert n == 11
print("Prueba superada ")

Hay 11 municipios en Amazonas
Prueba superada

In [ ]:
# Escriba una funci贸n que reciba el nombre de un departamento y que retorne cu谩ntos municipios hay
# en el departamento con ese nombre.
def municipios_departamento(muns: pd.DataFrame, nombre: str) -> int:
    
        n = input()
        if (n == "Cundinamarca"):
            print(len(muns[(muns.departamento == "Cundinamarca")]))
        if (n == "Boyac谩"):
            print(len(muns[(muns.departamento == "Boyac谩")]))
        if (n == "Vichada"):
            print(len(muns[(muns.departamento == "Vichada")]))
        return n

# Pruebas de la funci贸n anterior
assert municipios_departamento(muns, "Cundinamarca") == 117
assert municipios_departamento(muns, "Boyac谩") == 123
assert municipios_departamento(muns, "Vichada") == 4
print("Prueba superada ")

117

AssertionError:

In [15]:
# Escriba una expresi贸n que permita encontrar los nombres de los municipios que tienen
# menos de 500 habitantes en la poblaci贸n rural
m = muns[(muns.poblaci贸nRural < 500)]
print(m)

# Prueba
assert m.sort_values().to_list() == ['La Guadalupe', 'Santa Luc铆a', 'Soplaviento', 'Suan']
print("Prueba superada ")

              nombre  poblaci贸nUrbana  poblaci贸nRural departamento  esCapital
c贸digo
1122    La Guadalupe                0             374      Guain铆a          0
623      Santa Luc铆a            11002             492    Atl谩ntico          0
761      Soplaviento             8285             182      Bol铆var          0
754             Suan             8353             311    Atl谩ntico          0

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [84]:
# Cual es la suma total de la poblaci贸n urbana de todos los municipios
pob_urb = sum(muns.poblaci贸nUrbana)

# Prueba
assert pob_urb == 37_740_751
print("Prueba superada ")

Prueba superada

In [ ]:
# Hallar la suma de la poblaci贸n urbana de los municipios de los departamentos
# del eje cafetero: Caldas, Quindio o Risaralda
pob_eje_cafetero = sum

print(pob_eje_cafetero)
# Prueba
assert pob_eje_cafetero == 1_471_055
print("Prueba superada ")

             nombre  poblaci贸nUrbana  poblaci贸nRural departamento  esCapital
c贸digo
354         Aguadas            11594           10271       Caldas          0
213         Anserma            21572           12097       Caldas          0
628        Aranzazu             6586            4707       Caldas          0
650      Belalc谩zar             5056            5704       Caldas          0
127       Chinchin谩            45926            5150       Caldas          0
647      Filadelfia             4173            6701       Caldas          0
82        La Dorada            69764            7971       Caldas          0
906       La Merced             2227            3166       Caldas          0
19        Manizales           371345           27529       Caldas          1
328      Manzanares             9929           13183       Caldas          0
722         Marmato             1063            8099       Caldas          0
515     Marquetalia             6475            8525       Caldas          0
1025      Marulanda             1286            2110       Caldas          0
243           Neira            16434           14306       Caldas          0
860        Norcasia             4293            2029       Caldas          0
618          P谩cora             5562            6111       Caldas          0
436       Palestina             6798           10919       Caldas          0
287     Pensilvania             8446           17897       Caldas          0
101        Riosucio            19770           43275       Caldas          0
706       Risaralda             4614            4857       Caldas          0
477        Salamina             9891            6425       Caldas          0
296          Saman谩             5147           20637       Caldas          0
807        San Jos茅             1850            5745       Caldas          0
282           Sup铆a            13074           13836       Caldas          0
768        Victoria             3648            4673       Caldas          0
110      Villamar铆a            48625            9848       Caldas          0
590         Viterbo            10286            2152       Caldas          0

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [76]:
# Encontrar el nombre del municipio que es la capital (esCapital == 1) del departamento de Casanare
capital=muns[(muns.departamento == "Casanare") & muns.esCapital == 1]

print(capital['nombre'])

c贸digo
41    Yopal
Name: nombre, dtype: object

In [62]:
# Encontrar cuantos municipios tienen una poblaci贸n urbana inferior al promedio
# de la poblaci贸n urbama de todo el pais
prom_poblacion_urbana = muns.poblaci贸nUrbana.mean()
cant_muns_pobl_inf_prom=len(muns[(muns.poblaci贸nUrbana < prom_poblacion_urbana)])
print(cant_muns_pobl_inf_prom)
# Prueba
assert cant_muns_pobl_inf_prom == 998
print("Prueba superada ")

998
Prueba superada

In [30]:
# Presentar el nombre y problaci贸n urbana de los municipios cuya poblaci贸n urbana est茅 entre el mill贸n y los tres millones
# de habitantes.
a=muns[(muns.poblaci贸nUrbana > 1_000_000) & (muns.poblaci贸nUrbana < 3_000_000)]

print(a[['nombre','poblaci贸nUrbana']])

              nombre  poblaci贸nUrbana
c贸digo
4       Barranquilla          1224374
3               Cali          2383392
2           Medell铆n          2479990

In [ ]:
# Presentar toda la informaci贸n de aquellos municipios donde la poblaci贸n rural supere a la poblaci贸n urbana
a=muns[(muns.poblaci贸nRural > muns.poblaci贸nUrbana )]
print(a)

               nombre  poblaci贸nUrbana  poblaci贸nRural        departamento  \
c贸digo
404         Abejorral             6724           12471           Antioquia
178            brego            17287           21076  Norte de Santander
1090         Abriaqu铆              738            1337           Antioquia
215           Acevedo             6515           27098               Huila
323              Ach铆             4193           19258             Bol铆var
...               ...              ...             ...                 ...
744           Zapay谩n             3649            5192           Magdalena
240          Zaragoza            14137           16992           Antioquia
971         Zetaquira             1057            3432              Boyac谩
895           Zipac贸n             2119            3512        Cundinamarca
103     Zona Bananera             5063           56309           Magdalena

        esCapital
c贸digo
404             0
178             0
1090            0
215             0
323             0
...           ...
744             0
240             0
971             0
895             0
103             0

[705 rows x 5 columns]

In [ ]:
# Cuantas capitales hay en el dataframe
a = len(muns[(muns.esCapital==1)])
print(a)

32

In [ ]:
# Determinar cu谩ntos capitales tiene una poblaci贸n inferior a los 100 mil habitantes
a = len(muns[(muns.esCapital==1) & (muns.poblaci贸nUrbana < 100_000) & (muns.poblaci贸nRural < 100_000)])

print(a)

8